@model ServiceLayer.BookServices.BookListCombinedDto
@{ 
    ViewData["Title"] = "Home Page";
}


<table class="table">
    @foreach (var item in Model.BooksList)
    {
        <tr>
            <td>
                <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
                <div>
                    <small>by</small>&nbsp;@Html.DisplayFor(m => item.AuthorsOrdered)
                </div>
                <div>
                    Published on @item.PublishedOn.ToString("d")
                </div>
                <div>
                    Categories: <i>@string.Join(", ", item.TagStrings)</i>
                </div>
                <div>
                    @(item.ReviewsCount == 0 ? "Be the first to review this book" : $"Votes: {item.ReviewsAverageVotes:F1} by {item.ReviewsCount} customers")
                </div>
                <div>
                    <span class="h4">@(item.ActualPrice < 0 ? "- not for sale - " : $"Price: ${item.ActualPrice:F}")</span>
                    @if (item.PromotionPromotionalText != null)
                    {
                        <span class="text-danger">
                            <strong>&nbsp;<del>$@($"{item.Price:F}")</del>&nbsp;<i>@(item.PromotionPromotionalText)</i></strong>
                        </span>
                    }
                </div>
            </td>
        </tr>
    }
</table>